<div class="photo-card card h-100 bg-white">
  <a [routerLink]="['/viewer', albumId, photo.id]" class="text-decoration-none">
    <img
      [src]="photo.url"
      [alt]="photo.title"
      class="card-img-top photo-image"
    />
  </a>
  <div class="photo-details card-body">
    <h3 class="card-title h5">{{ photo.title }}</h3>
    <p class="card-text text-muted">Snapped on: {{ photo.dateAdded | date }}</p>
    <button
      class="btn btn-sm btn-outline-success favorite-btn"
      (click)="toggleFavorite()"
    >
      {{ photo.isFavorite ? "❤️ Liked" : "🤍 Like" }}
    </button>
  </div>
</div>
